<h2><%= index_title %> Readings</h2>

<% @readings.each do |reading| %>
    <%= render partial: "display", locals: {reading: reading} %></p>
<% end %>

<p>
    <%= link_to "Create new reading", new_reading_path %>
</p>