<h1>
    <%= @user.username %>'s Profile
</h1>

<p>
    <%= link_to "#{@user.username}'s Readings", user_readings_path(@user) %>
</p>

<p>
    <%= link_to "Create new reading", new_reading_path %>
</p>